* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main_color: rgb(171, 135, 179);
    --second_color: rgb(17, 17, 90);
    --main_fontSize: 1.3rem;
    --main_weight: 600;
    --font_family: "Segoe UI", verdana;
    --back_CounterColor: rgba(247, 247, 247, 0.454);
}

body {
    background-image: url("/FinalImages/background-mobile.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

button {
    background: transparent;
    border: none !important;
    font-size: 0;
    margin: auto;
    padding: 0;
}

.clicker_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

}

.wookie_clicker {
    grid-column: 2 / 4;
    grid-row: 1 / 5;
}

.ewok {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.C3PO {
    grid-column: 1 / 1;
    grid-row: 4 / 5;
}

.R2D2 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.yoda {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

.xwing {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.falcon {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}


.wookie_clicker :active {
    transform: scale(0.9);
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>p {
    padding-top: 10px;
    height: 3rem;
    width: 50%;
    border-radius: 20px;
    background: var(--back_CounterColor);
    font-size: var(--main_fontSize);
    color: var(--main_color);
    font-weight: var(--main_weight);
    text-align: center;
}