@font-face {
  font-family: 'StarJedi';
  src: url('/Fonts/star_jedi/Starjedi.ttf');
}

:root {
  --main_color: #3c415c;
  --second_color: rgb(17, 17, 90);
  --main_fontSize: 1.3rem;
  --main_weight: 600;
  --font_family: 'StarJedi';
  --back_CounterColor: rgba(247, 247, 247, 0.454);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/FinalImages/background-mobile.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  font-family: var(--font_family);
  letter-spacing: 0.1em;
}

main {
  margin: 1em 0;
}

/*  header */

header {
  width: 100%;
  height: 30%;
  display: flex;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 60%;
  margin: 0 0 0 0.4em;
}

.counter-size {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  padding-left: 0.3em;
  padding-bottom: 0.17em;
}

.param-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
}

.counter-style {
  border-radius: 20px;
  background: var(--back_CounterColor);
  font-size: var(--main_fontSize);
  color: var(--main_color);
  font-weight: var(--main_weight);
  /* text-align: center; */
}

button {
  background: transparent;
  border: none !important;
  font-size: 0;
  margin: auto;
  padding: 0;
}

/* Clicker and helpers style with a grid */

.clicker_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

.wookie_clicker {
  grid-column: 4 / 10;
  grid-row: 2 / 11;
}

.ewok {
  grid-column: 1 / 4;
  grid-row: 8 / 11;
}

.C3PO {
  grid-column: 2 / 5;
  grid-row: 11 / 14;
}

.R2D2 {
  grid-column: 4 / 7;
  grid-row: 13 / 16;
}

.yoda {
  grid-column: 7 / 10;
  grid-row: 13 / 16;
}

.xwing {
  grid-column: 9 / 12;
  grid-row: 11 / 14;
}

.falcon {
  grid-column: 10 / 13;
  grid-row: 8 / 11;
}

.wookie_clicker:active {
  transform: scale(0.9);
}

.R2D2,
.falcon,
.xwing,
.yoda {
  filter: saturate(0);
}

/* Footer style */

footer {
  height: 10vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Settings style */
/*
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../FinalImages/background-mobile.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: "StarJedi";
  font-size: 1em;
  letter-spacing: 0.1em;
}

.settings-container {
  height: 18%;
  width: 100%;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  border: 0.1em black solid;
  height: 100%;
  gap: 0.5em;
}

.language {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.darkmode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.on {
  background: #02f602;
  width: 2em;
  height: 2em;
  border-radius: 50% 50%;
  border: 0.1em black solid;
}

.off {
  background: #af0404;
  width: 2em;
  height: 2em;
  border-radius: 50% 50%;
  border: 0.1em black solid;
}

.helpers {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  gap: 0.4em;
  margin: 1em;
  margin-top: 2em;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
  border-radius: 1em;
  border: 0.1em black solid;
}

.helper-position {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8em;
}

#helperssetting {
  justify-content: center;
  align-content: center;
  text-align: center;
}

img {
  width: 2.5em;
  height: auto;
}
*/
